.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 1, 0.644);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.modal-body {
  padding: 2rem;
  /* width: 600px; */
  border-radius: 5px;
  background: #fff;
  height: 250px;
  position: relative;
}

.new-task-button {
  padding: 20px 40px;
  background-color: rgba(163, 215, 228, 0.486);
  border-radius: 10px;
  border: 1px solid black;
  position: absolute;
  font-size: 20px;
}

.new-task-button:hover {
  cursor: pointer;
  background-color: rgb(163, 215, 228);
  font-size: 30px;
  padding: 14px 26px
}

.cancel-button {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.459);
}

.cancel-button:hover {
  cursor: pointer;
  color:rgb(255, 0, 0)
}
